 /* ThemeColor One */
.automechanic-color,.automechanic-colorhover:hover,.automechanic-strip-option li.login a,
.automechanic-strip-option li a i,.automechanic-banner-form ul li i,.automechanic-fancy-title h2,.automechanic-service-grid-text i,
.automechanic-service-grid-text h3 a,.automechanic-team-info li i,.automechanic-team-modern h4 a,.automechanic-call-to-action h3 strong,
.automechanic-service-title,.automechanic-partner-slider .slick-arrow:hover,.automechanic-modern-btn,
.automechanic-location-heading,.automechanic-find-location i,.automechanic-footer-title,.widget_service ul li a:before,
.widget_service ul li:hover a,.widget_contact i,.automechanic-footer-social li a span i,.automechanic-copyright p a,.text-holder .post-date,
.automechanic-copyright p i,.automechanic-thumb-option li a:hover,.automechanic-thumb-heading h2,.automechanic-prenxt-post ul li:hover h5 a,
.automechanic-blog-list-text time,.widget_popular_post time,.widget-recent-post-text .automechanic-thumb-option li a,
.widget_categories ul li a i,.widget_categories ul li:hover a,.automechanic-blog-grid-text > span,.automechanic-pagination > ul > li:hover > .previous,
.automechanic-pagination > ul > li:hover > .next,.automechanic-portfolio-heading h2,
.automechanic-shop-summery > span,.automechanic-shop-cetagories a:hover,.widget_about_us ul li i,
.widget-products-text span,.automechanic-shop-filter .nav-tabs > li.active > a,.automechanic-shop-filter .nav-tabs > li.active > a:hover,
.automechanic-shop-filter .nav-tabs > li.active > a:focus,.automechanic-shop-grid-text > span,.automechanic-shop-list-text > span,
.automechanic-team-option li i,.automechanic-team-thumb-text > span,.automechanic-list-two li i,.automechanic-education h5,
.automechanic-team-grid-text span,.automechanic-team-list-text > a,.automechanic-megalist li:hover a,
.automechanic-aboutus h2,.numscroller,.automechanic-testimonial-text i,.automechanic-contact-info h3,.automechanic-faq-accordion .panel-title > a,
.automechanic-faq-accordion .panel-title > a:before,.automechanic-priceplan-wrap h3,.automechanic-login-close,
.automechanic-search-result h2,.automechanic-liststyle-one li:before,.automechanic-service-text h2,.automechanic-service-medium i,
.automechanic-service-medium h3 a,.navbar-nav .sub-menu > li:hover > a,.automechanic-thumb-heading h2 a {
    color: #083388;
}
.automechanic-bgcolor,.automechanic-bgcolorhover:hover,.automechanic-shape-transparent,.automechanic-prenxt-post figure a i,
.widget_recent_comment figure a:before,.widget_recent_post figure a:before,
.widget_gallery figure a:before,.automechanic-pagination > ul > li > span,
.automechanic-pagination > ul > li > a:hover,.automechanic-shop-tabs .nav-tabs,
.widget_sort_cetagories ul li a:after,.ui-slider .ui-slider-range,#slider-range span,
.automechanic-faq-tabs .nav-tabs,.automechanic-login-box form input[type='submit'],
.automechanic-priceplan-heading:before {
    background-color: #083388;
}
.automechanic-modern-btn span,blockquote,blockquote span,.automechanic-images-list-layer.slick-slide.slick-current.slick-active span,
.widget_sort_cetagories ul li a:before,.automechanic-faq-accordion .panel-body,
.automechanic-faq-accordion .panel-title > a,.automechanic-pagination > ul > li > a,.automechanic-pagination > ul > li > span {
    border-color: #083388;
}
 {
	border-right-color: #083388;
}
{
	border-top-color: #083388;
}
.automechanic-shape-transparent:before,.automechanic-thumb-heading time:before,.automechanic-blog-grid figure time:before {
	border-bottom-color: #083388;
}